<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-git"></i>
        </div>
        <div class="f-info-brand"> <i class="fa-solid fa-copyright"></i> Made by <i>Chirag Yadav</i><br><b>Thank
                You! </b><i class="fa-solid fa-heart"></i> </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>